.body {
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

.scrollLock {
    overflow: hidden;
}

.mainContainer {
    min-height: 100%;
    background: linear-gradient(180deg, #FF4848, #F55050, #e52538);
}