#mapNav {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9998;
}

#mapNav > ul {
    height: 80px;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#mapNav > ul::-webkit-scrollbar {
    display: none;
}

#mapNav > ul > li {
    height: 36px;
    margin-top: 24px;
    margin-right: 8px;
    padding: 4px 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 8px 4px #cccccc66;
    border-radius: 18px;
}

#mapNav > ul > li:first-of-type {
    margin-left: 5%;
}

#mapNav > ul > li:last-of-type {
    margin-right: 5%;
}

#mapNav > ul > li > .svgBox {
    margin-right: 4px;
}

#mapNav > ul > li > .svgBox > i {
    font-size: 1.25rem;
}

#mapNav > ul > li > .svgBox > i:first-of-type {
    display: block;
    color: #cccccc;
}

#mapNav > ul > li > .svgBox > i:last-of-type {
    display: none;
}

#mapNav > ul > li > p {
    color: #ccc;
}

#mapNav > ul > .mapCategoryOn {
    background-color: #e52538;
    color: white;
}

#mapNav > ul > .mapCategoryOn > .svgBox > i:first-of-type {
    display: none;
}

#mapNav > ul > .mapCategoryOn > .svgBox > i:last-of-type {
    display: block;
    color: white;
}

#mapNav > ul > .mapCategoryOn > p {
    color: white;
}

#map { 
    width: 100%; 
    height: 100vh; 
    margin: 0 auto; 
}